html,body{
	height:100%;
	width:100%;
}

header
{
	background-image: url(https://scontent.fcgk12-1.fna.fbcdn.net/v/t1.0-9/16406541_1059095750884775_6218325399773012538_n.jpg?_nc_cat=100&oh=b8c87a9bf57b3b12e98d30bfc865befd&oe=5C14FB17);
	width: 1440px;
	height: 1024px;
	background-size: cover;
	background-position: center;
	opacity:0.7;
}

ul
{
	float: right;
	list-style: none;
	margin-top: 40px;
	margin-right: 30px;
}

ul li
{
	display: inline-block;
}

ul li a
{
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Lato";
	font-size: 30px;
	font-weight: bold;
	color: black;
}

.photo img
{
  border-radius: 60px;
  width: 398px;
  height: 530.55px;
  position: relative;
  left: 50px;
  top: 150px
}

.boxHeader
{
  background-color: rgba(206, 106, 19, 0.78);
  width: 1440px;
  height: 110px;
  font-size: 200px;
  line-height: 91px;
  text-align: center-left;
  font-family: Lato;
}

.introduce
{
	color: #030507;
  font-family: Comic Sans MS, cursive;
  font-size: 70px;
  font-weight: 400;
  line-height: 91px;
  text-align: center;
  position: absolute;
  top: 250px;
  left: 500px;
}

.box
{
  background-color: #FFBA5C;
  opacity: 0.56;
  width: 512px;
  height: 370px;
  position: absolute;
  left: 500px;
  top: 350px;
  font-size: 30px;
  text-align: center;
  color: #0D1723;
  font-family: Bree Serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}

.boxEdu
{
  background-color: white;
  opacity: 0.7;
  width: 1200px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 450px;
}

.boxFooter
{
  background-color: rgba(206, 106, 19, 0.78);
  width: 1440px;
  height: 110px;
  position: absolute;
  left: 0px;
  top: 935px;
  font-family: Lato;
}

.sosmed img
{
	border-radius: 8px;
	width: 110px;
	height: 110px;
}

.ig img
{
  border-radius: 33px;
  width: 110px;
  height: 110px;
  position: absolute;
  left: 350px;
  top: 750px;
}

.instagram
{
	position: absolute;
  left: 500px;
  top: 760px;
  color: #010407;
  font-family: Lato;
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
}

.whatsapp
{
	position: absolute;
  left: 500px;
  top: 330px;
  color: #010407;
  font-family: Lato;
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
}

.facebook
{
	position: absolute;
  left: 500px;
  top: 630px;
  color: #010407;
  font-family: Lato;
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
}

.email
{
	position: absolute;
  left: 500px;
  top: 465px;
  color: #010407;
  font-family: Lato;
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
}
	
.fb img
{
  border-radius: 33px;
  width: 110px;
  height: 110px;
  position: absolute;
  left: 350px;
  top: 600px;
}

.wa img
{
  border-radius: 33px;
  width: 110px;
  height: 110px;
  position: absolute;
  left: 350px;
  top: 300px;
}

.em img
{
  border-radius: 33px;
  width: 110px;
  height: 110px;
  position: absolute;
  left: 350px;
  top: 450px;
}

.sdSmp img
{
	border-radius: 33px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 100px;
  top: 200px;
}

.sma img
{
	border-radius: 33px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 600px;
  top: 200px;
}
  
.univ img
{
	border-radius: 33px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 1100px;
  top: 200px;
}

.com
{
	border-radius: 10px;
  background-color: blue;
  opacity: 0.7;
  width: 500px;
  height: 70px;
  position: absolute;
  left: 300px;
  top: 300px;
  font-size: 30px;
  text-align: center;
}


.art
{
	border-radius: 10px;
  background-color: pink;
  opacity: 0.7;
  width: 110px;
  height: 70px;
  position: absolute;
  left: 300px;
  top: 400px;
  font-size: 30px;
  text-align: center;
}

.time
{
	border-radius: 10px;
  background-color: purple;
  opacity: 0.7;
  width:210px;
  height: 70px;
  position: absolute;
  left: 300px;
  top: 500px;
  font-size: 30px;
  text-align: center;
}

.team
{
	border-radius: 10px;
  background-color: green;
  opacity: 0.7;
  width: 180px;
  height: 70px;
  position: absolute;
  left: 300px;
  top: 600px;
  font-size: 30px;
  text-align: center;
}

.limit1
{
  background-color: white;
  opacity: 0.7;
  width: 10px;
  height: 550px;
  position: absolute;
  left: 250px;
  top: 150px;
}

.limit2
{
  background-color: white;
  opacity: 0.7;
  width: 1050px;
  height: 10px;
  position: absolute;
  left: 250px;
  top: 700px;
  
}

.form-group
{
	font-size: 30px;
	font-color: black;
	text-align: center;
	width: 500px;
	height: 50px;
	margin: 0 auto;
	position:center;
}
.btn
{
	width: 200px;
	height:70px;
	font-size: 30px;
	position: absolute;
	left: 600px;
	top: 700px;
}