<!DOCTYPE html>
<html>
	<head>
		<title>Graciela Chika Putri</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{%static 'static/style.css'%}" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	</head>
	<body>
		<div class="row backgroundimg">
			<div class="container">
			</div>
		</div>
				
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="active">
							<a href="home.html">Home</a>
						</li>
							<li><a href="about.html">About</a></li>
							<li><a href="educated.html">Educated</a></li>
							<li><a href="skill.html">Skill</a></li>
							<li><a href="">Contact</a></li>
							<li><a href="">Login</a></li>
					</ul>
				</div>
				<div class="navbar-footer">
			</div>
			
		</nav>
					
		
		
	</body>
</html>
