<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body background ="https://www.ilovewallpaper.co.uk/images/i-love-wallpaper-zara-marble-metallic-wallpaper-soft-pink-rose-gold-ilw980105-p4915-13173_image.jpg">
	<h1> Welcome to my web!!!</h1>
	<h2 style="text-align:center;"> Hello my name is {{name}}</h2>
	<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/33147992_1508943735899972_6159831298375417856_n.jpg?_nc_cat=0&oh=02dfe8b93f4e287cac71839989a88f98&oe=5C315A9A"
			alt="myPhoto" class="center" width="100" height="100">
	<p style="text-align:center;"> NPM : {{ npm }}<br> I am {{ age }} years old.<br> I was born on July 22 1999</p>
	
	
	<h1 style="text-align:center;"> This is my friends profile </h1>
	<h2 style="text-align:center;"> Hana Dior </h2>
	<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/40943272_534751656977153_1712311037513957376_n.jpg?_nc_cat=0&oh=0c46968fad9ff8d190c2d332b4628bcc&oe=5C36D815" alt="Hana" class="center" width=100" height="100">
	<p style="text-align:center;"> NPM : 1706025182 <br> Hana was born on Nov 29 1999. <br> She is a bad girl. <br> Her hobby is gardening. </p>
	
	<h2 style="text-align:center;"> Abang Syifa </h2>
	<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/12227127_1067222649956049_2406932590574631214_n.jpg?_nc_cat=0&oh=dbba92e7bc9bd2a981bb51c849a18665&oe=5C266FA7" alt="Abang" class="center" width=100" height="100">
	<p style="text-align:center;"> NPM : 1706022073 <br> Syifa was born on Dec 31 1998. <br> Her name is Siti Aulia Rahmatussyifa, but you can call her "Abang". <br> Her hobby is traveling. </p>
	
	

</body>

<style>
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	height: 15%
	}
</style>
</html>
