body html{
	width:100%;
	height: 100%;
	margin:0;
	padding:0;
}


.backgroundimg{
	background-image: url(https://scontent.fcgk12-1.fna.fbcdn.net/v/t1.0-9/16406541_1059095750884775_6218325399773012538_n.jpg?_nc_cat=100&oh=b8c87a9bf57b3b12e98d30bfc865befd&oe=5C14FB17);
	width:100%;
	height: 100%;
	position: absolute;
	opacity: 0.65;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
	
.navbar{
	
	background-color:orange;
	font-size:20px;
	opacity: 0.7;
	height: 10px;
	width:100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
	navbar-inverse .navbar-nav .active a:hover {
		color: #FFF;
		background-color: orange;
}
.photo img{
	border-radius: 40px;
	width: 90px;
	height: 100px;
	position: relative;
	top: 100px;
	left:10%;
}

.sdSmp img
{
  width: 15%;
  height: 20%;
  position: absolute;
  left: 100px;
  top: 200px;
}

.sma img
{
  width: 15%;
  height: 20%;
  position: absolute;
  left: 300px;
  top: 200px;
}
  
.univ img
{
  width: 15%;
  height: 20%;
  position: absolute;
  left: 900px;
  top: 200px;
}

.form-group
{
	font-size: 30px;
	font-color: black;
	text-align: center;
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	position:center;
	top: 100px;
}

