{%load static%}
{%load staticfiles%}

<!DOCTYPE html>
<html>
	<head>
		<title>Graciela Chika Putri</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{%static 'MyProfile/style.css'%}" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	</head>
	<body>
		<div class="row backgroundimg">
			<div class="container">
			</div>
		</div>
				
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					{%block content%} {%endblock%}
				</div>
				{% include 'navbar.html' %}
			</div>
		</nav>
		
		<div class="aboutMe">
			<h1>kjytrextyvghbnjkmoiuigisugiweyouifgufoegfif1</h1>	
			<h1>kjytrextyvghbnjkmoiuigisugiweyouifgufoegfif1</h1>
			<h1>kjytrextyvghbnjkmoiuigisugiweyouifgufoegfif1</h1>
			<h1>kjytrextyvghbnjkmoiuigisugiweyouifgufoegfif1</h1>
			<h1>kjytrextyvghbnjkmoiuigisugiweyouifgufoegfif1</h1>
			<h1>kjytrextyvghbnjkmoiuigisugiweyouifgufoegfif1</h1>
			<h1>kjytrextyvghbnjkmoiuigisugiweyouifgufoegfif1</h1>
			<h1>kjytrextyvghbnjkmoiuigisugiweyouifgufoegfif1</h1>
			</div>
		
					
		
		
	</body>
</html>
