{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Graciela Chika Putri</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="{%static 'MyProfile/style.css'%}" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
	</head>
	
	<body>
		<div class="row backgroundimg">
			<div class="container">
			</div>
		</div>
							
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					{%block content%} {%endblock%}
				</div>
				{% include 'navbar.html' %}
			</div>
		</nav>
		
	</body>
	
	<body class="sched">
		<h1 class="page">JADWAL</h1>
		<h2 class="page">AKTIVITAS SAYA</h2>

		<table class="table">     
			<thead>        
				<th>Nama Kegiatan</th>         
				<th>Hari</th>         
				<th>Tanggal</th>         
				<th>Jam</th>
				<th>Tempat</th>   
			</thead>

			<tbody>
				{% for i in jadwal %} 
				<tr>
				<td> {{i.namaKegiatan}} </td>            
				<td> {{i.hari}} </td>             
				<td> {{i.tanggal}} </td>             
				<td> {{i.jam}} </td>
				<td> {{i.tempat}} </td>
				</tr>
				{% endfor %}  
			</tbody>
		</table>
		
		<form id="form" method="POST" action="{% url 'formHasil' %}">         
			{% csrf_token %}                
			<button type="deleteall" class="btn btn-default">Clear All</button>    
		</form>  

  
	</body>	
</html>