{%load static%}
{%block content%}


<ul class="nav navbar-nav navbar-right">
	
	<li><a class = 'nav-link' href="../home">Home</a></li>
	
	<li><a class = 'nav-link' href="../about">About</a></li>
	
	<li><a class = 'nav-link' href="../educated">Educated</a></li>
	
	<li><a class = 'nav-link' href="../contact">Contact</a></li>
	
	<li><a class = 'nav-link' href="../formKegiatan">Form</a></li>
    
</ul>

{%endblock%}